$primary-link-bgcolor: rgba(248, 248, 248, 0.9);
$primary-nav-bgcolor: rgb(195, 195, 195);
$primary-text-color:rgb(27, 26, 26);
$primary-linkhover-color:rgb(0, 0, 0);
$main-color:rgb(68, 91, 80);
$footer-color:rgb(41, 45, 43);
$tabcomponent-color:rgb(76, 228, 152);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
